lab8/task3.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="movies">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="movie">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="year" type="xs:string"/>
            <xs:element name="rating" type="xs:string"/>
          </xs:sequence>
<xs:attribute name="genre" type="xs:string" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>
</xs:schema>
<movies>
	<movie genre="crime">
		<title>The GodFather</title>
		<year>1972</year>
		<rating>9.2</rating>
	</movie>

</movies>